@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@100;300;400;700&display=swap");
:root {
  --black: #272727;
  --pink: #ffd700;
  --font: "Lato", sans-serif;
  --font2: "Dela Gothic One", cursive;
}
/*
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}
*/

/* ----------- Estilos Globais ----------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font);
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.stand-h1 {
  font-family: var(--font2);
  color: var(--black);
  font-size: 72px;
}
.stand-p {
  font-size: 18px;
  font-family: var(--font);
  color: black;
}
.flex_center_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 1005%;
    padding: 0 15px;
  }
}

/* ----------- Section Home ----------- */
.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
.back {
  position: absolute;
  right: 0;
  z-index: -2;
  height: 95vh;
}

/* Header */
header {
  width: 100%;
  height: 100px;
  justify-content: space-between !important;
}
.logo {
  margin: 0 80px;
  cursor: pointer;
  font-size: 45px;
  font-family: var(--font2);
}
.menu_list {
  padding-right: 100px;
  width: 50%;
}
.menu_list ul {
  display: flex;
  justify-content: space-between;
}
.menu_list ul a {
  color: var(--black);
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
}
.menu_list ul a:hover {
  opacity: 0.5;
}
.menu_list li {
  padding: 0 0px;
}

.banner {
  margin: 0 80px;
  position: relative;
  height: calc(100% - 100px);
}
.banner h1 {
  position: absolute;
  font-size: 120px;
  top: calc(50% - 250px);
  font-family: var(--font2);
}
.banner span {
  color: #ffd700;
  font-family: var(--font2);
}
